########## For Mac ################
.DS_Store

########## For Go ################
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

########## For Bazel ################
/bazel-*

########## For python ################
.python-version

########## For Env ################
.env
.env.*
*.env

########## For Docker ################
# logs/
*.log
*.log.*
*.lock

########## For Django ################
settings_local.py
Pipfile
Pipfile.lock
poetry.lock
media/
*.log
*.pyc
__pycache__/
.vscode/
.idea/
.vim/

########## For DB ################
db.sqlite3
*.rdb
**/postgres/data/noahserver/*